.landingPageContainer{
  width:100vw;
  height:100vh;
  background-image: url(/public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color:white
} 

.landingPageContainer nav{
 display:flex;
 justify-content: space-between;
 align-items: center;
 padding-inline:1.2rem;
 padding-block:1.6rem;
}

.landingPageContainer nav h1{
 font-size:1.8rem;
 font-weight: 500;
}

.landingPageContainer nav .navList{
  display:flex;
  align-items: center;
  gap:1.6rem;
  cursor:pointer;
}

nav button {
  background-color: #d97400ef;
  width:fit-content;
  padding-inline:2rem;
  padding-block:0.3rem;
  border-radius:5px;
  color:white;
}


.landingMainContainer{
 display:flex;
 justify-content: space-between;
 padding-inline:3rem;
 height:80vh;
 align-items: center;
}

.landingMainContainer >div:nth-child(1) {
   font-size:2.2rem;
}

.landingMainContainer >div:nth-child(1) div[role="button"]{
 background-color: #D97500;
 width:fit-content;
 padding:1rem;
 border-radius: 20px;
 margin-top:1.9rem
}

.landingMainContainer >div:nth-child(1) div[role="button"] a{
 text-decoration:none;
 color:inherit;
 font-size:1.7rem;
}

.landingMainContainer >div:nth-child(2) img{
   height:70vh;
   width:auto;
}

.navbar{
 display:flex;
 align-items: center;
 justify-content:space-between;
 padding-inline: 20px;
}

.meetContainer{
 display:flex;
 justify-content: center;
 align-items: center;
 padding-inline: 20px;
  margin-top:20vh; 
 gap:10vw;
}

.leftPanel{
 display:flex;
 justify-content: center;
 align-items: center;
 height:100%;
 /* flex-basis:50%; */
}
.rightPanel{
 display:flex;
 align-items: center;
 /* flex-basis:50%; */
}
.rightPanel img{
 height:50vh; 
}
