.meetVideoContainer {
  position: realtive;
  background-color: rgba(1, 4, 48);
  color: white;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#email,
#room {
  padding: 8px;
  outline: none;
}

.join-btn {
  display: flex;
  justify-content: center;
}

.join-btn button {
  padding-inline: 20px;
}

.call-btn {
  position: relative;
  border: none;
}

.msg-btn,
.mute-btn {
  border: none;
  color:white;
}

.call-btn{
  background-color: #388e3c;
  padding:10px 40px;
  color:white;
}

.video-btns {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position:fixed;
  bottom:0;
}

 .local-stream {
    position: absolute;
    width:50vw ;
    height:50vh;
    z-index: 2;
    top: 30%;
    left:15%;
    transition: width 0.3s, height 0.3s; 
}

.remote-stream{
    position:absolute;
    /* width:fit-content; */
    height:50vh;
    left:15%;
    top:30%;
    border-radius: 10px;
}

.local-stream.small {
    position:absolute;
    max-width:30vw; 
    height:15vh; 
    left:36%;
    top:65.8%;
    z-index:2;
}
 

/* @media screen and (max-width:1220px){
  .remote-stream{
    margin-top:30px;
    max-width:80vw;
    height:40vh;
    left:15%;
    top:20%;
  }
  .local-stream.small {
    position:absolute;
    height:40vh; 
    width:90vw;
    left:60%;
    top:50%; 
   }
} */

